
        <!-- Modal -->
        <div id="modal" class="addEmployeeSuccessful">
            <p id="successMessage">Successfully added an employee</p>
        </div>
        <!-- End Modal -->
        <div id="overlay" class="overlay"></div>
        <script src="/js/employeeDetails.js"></script>
</body>
</html>