
<div class="menu">
    <div class="menu-heading">
        <h3>Employee <span>Management</span></h3>
    </div>

    <hr class="menu-line">

    <div class="menu-list">
            <ul class="menu-ul">
                <li><span class="material-symbols-outlined">house</span>Dashboard</li>
                <a href="/employees"><li><span class="material-symbols-outlined">bar_chart</span>Employees</li></a>
                <li><span class="material-symbols-outlined">person</span>My Profile</li>
                <a href="/logout"><li><span class="material-symbols-outlined">lock</span>Logout</li></a>
            </ul>
    </div>
    <div class="brand">
        <h3>Powered by</h3>
        <div class="brand-img">
            <img src="/img/brand.png"/>
        </div>
    </div>
    
</div>